/* | VARIABLES */

:root {
  --primary: #1992d4;
  --primary-foreground: white;
  --secondary: #f0b429;
  --background: #e2e8f0;
  --foreground: #363636;
  --card: white;
}

/* | RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
  border: none;
  background-color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* | UTILITIES */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* | COMPONENTS */

.layout {
  width: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 100dvh;
  font-family: "Roboto", sans-serif;
}

.menu-btn {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: var(--primary-foreground);
  background-color: var(--primary);
  position: sticky;
  top: 0;
  height: 100dvh;
  overflow-y: auto;
  padding: 2rem 3rem;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    width: 3.8rem;
    padding: 0.8rem;
    background-color: var(--primary);
    border: none;
    border-radius: 8px;
  }

  .menu-btn img {
    filter: brightness(0) invert(1);
  }

  .menu-btn:hover img {
    filter: brightness(1.2) invert(1);
  }

  .close {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    border: 2px solid var(--background);
  }

  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: fixed;
    width: 80%;
    z-index: 50;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

.sidebar header h1 {
  font-size: 2.4rem;
}

.sidebar a {
  color: inherit;
  text-decoration: none;
  font-size: 1.6rem;
}

.sidebar img {
  filter: brightness(0) invert(1);
}

.sidebar header img {
  width: 3.8em;
}

.sidebar a img {
  width: 1em;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.sidebar header,
.sidebar a {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: opacity 0.2s ease;
}

.sidebar a:hover img {
  transform: scale(1.2);
  filter: brightness(1.2) invert(1);
}

.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}

.main-header {
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  filter: drop-shadow(0 2px 2px 0 var(--background));
  padding: 2rem 4rem;
}

@media (max-width: 768px) {
  .main-header {
    padding: 2rem;
  }
}

.header-top,
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.search-form {
  flex: 1;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .search-form {
    gap: 0;
  }

  .search-form img {
    display: none;
  }
}

.search-form input {
  flex: 1;
  background-color: var(--background);
  border: none;
  border-radius: 999px;
  padding: 0.8rem 1rem;
}

.icon {
  width: 2.6rem;
  height: auto;
}

@media (max-width: 768px) {
  .icon {
    width: 1.8rem;
  }
}

.user-meta {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

@media (max-width: 768px) {
  .user-meta {
    gap: 0.8rem;
  }
}

.avatar {
  border-radius: 50%;
}

.avatar-small {
  width: 6rem;
}

.user-name {
  font-size: 1.8rem;
  font-weight: 600;
}

.avatar-large {
  width: 10rem;
}

@media (max-width: 768px) {
  .avatar-small {
    width: 4rem;
  }

  .avatar-large {
    width: 7rem;
  }

  .user-name {
    display: none;
  }
}

.welcome-block {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.welcome-text p {
  font-size: 1.6rem;
  font-weight: 600;
}

.welcome-text h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .welcome-text p {
    font-size: 1.2rem;
  }

  .welcome-text h2 {
    font-size: 1.6rem;
    line-height: 1.1;
  }
}

.header-actions {
  display: flex;
  gap: 2.4rem;
}

.btn-primary {
  width: 9.2rem;
  color: var(--primary-foreground);
  background-color: var(--primary);
  font-size: 1.6rem;
  border-radius: 999px;
  padding: 0.8rem;
}

.btn-primary img {
  display: none;
  width: 2rem;
  filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
  .header-actions {
    gap: 0.8rem;
  }

  .btn-primary {
    width: fit-content;
  }

  .btn-primary span {
    display: none;
  }

  .btn-primary img {
    display: block;
  }
}

.dashboard-grid {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--background);
  padding: 2rem;
}

@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}
