/* | VARIABLES */

:root {
  --primary: ;
  --secondary: ;
  --background: ;
  --foreground: ;
  --accent: ;
}

/* | RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* | UTILITIES */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* | COMPONENTS */

.layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 100dvh;
  font-family: "Roboto", sans-serif;
}

.open-menu {
  display: none;
}

.close-menu {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: white;
  background-color: #1992d4;
  position: sticky;
  top: 0;
  height: 100dvh;
  overflow-y: auto;
  padding: 2rem 3rem;
}

@media (max-width: 768px) {
  .open-menu {
    display: block;
    width: 4.6rem;
    padding: 0.8rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #1992d4;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease-out; 
  }

  .open-menu img {
    filter: brightness(0) invert(1);
  }

  .open-menu:hover img {
    filter: brightness(1.2) invert(1);
  }

  .sidebar {
    position: fixed;
    width: 75%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

.sidebar header h1 {
  font-size: 2.4rem;
}

.sidebar a {
  color: inherit;
  text-decoration: none;
  font-size: 1.6rem;
}

.sidebar img {
  filter: brightness(0) invert(1);
}

.sidebar header img {
  width: 3.8em;
}

.sidebar a img {
  width: 1em;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.sidebar header,
.sidebar a {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: opacity 0.2s ease; /* Smooth transition for both */
}

.sidebar a:hover img {
  transform: scale(1.2);
  filter: brightness(1.2) invert(1);
}
